-# encoding: utf-8
!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-style-type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-script-type', :content => 'text/javascript'}
    %title TextTextText
  %body
    %h1 TextTextText

    Powered by
    %a{:href => "http://www.ruby-lang.org/ja/"} Ruby
    ,
    %a{:href => "http://www.sinatrarb.com/intro-jp.html"} Sinatra
    ,
    %a{:href => "http://haml-lang.com/"} Haml

    %form{:action => url("/clone", false, true), :method => "post"}
      %p
        %select{:name => "times"}
          - 1.upto(10) do |i|
            %option{:value => i}= i
        %input{:type => "checkbox", :name => "linefeed", :value => "1"} 改行
      %p
        %textarea{:name => "text", :cols => 40, :rows => 5}
      %p
        %input{:type => "submit"}
    %p
      %textarea{:cols => 40, :rows => 5}= @text
